<div id="accesoDirecto">
    <div class="card">  
        <div class="card-body">           
            <div class="row">
                <div class="col-md-4 accesoDirecto cursor">
                    <div class="card">
                        <div class="box bg-success text-center shadow rounded-3">
                            <h6 class="font-light text-white"><i class="fas fa-cart-arrow-down fa-2x"></i></h6>
                            <h6 class="text-white"> ATENCION</h6>
                            <input name="idSubMenu" type="hidden" value="75">
                            <input name="idMenu" type="hidden" value="6">
                            <input name="menuNombre" type="hidden" value="Ventas">
                            <input name="submenuNombre" type="hidden" value="Atencion">
                        </div>
                    </div>
                </div>
                <div class="col-md-4 accesoDirecto cursor">
                    <div class="card">
                        <div class="box bg-primary text-center shadow rounded-3">
                            <h6 class="font-light text-white"><i class="fas fa-donate fa-2x"></i></h6>
                            <h6 class="text-white"> PEDIDO</h6>
                            <input name="idSubMenu" type="hidden" value="56">
                            <input name="idMenu" type="hidden" value="6">
                            <input name="menuNombre" type="hidden" value="Ventas">
                            <input name="submenuNombre" type="hidden" value="Pedido">
                        </div>
                    </div>
                </div>
                <div class="col-md-4 accesoDirecto cursor">
                    <div class="card">
                        <div class="box bg-info text-center shadow rounded-3">
                            <h6 class="font-light text-white"><i class="fas fa-shopping-basket fa-2x"></i></h6>
                            <h6 class="text-white"> VENTA</h6>
                            <input name="idSubMenu" type="hidden" value="64">
                            <input name="idMenu" type="hidden" value="25">
                            <input name="menuNombre" type="hidden" value="Gestión">
                            <input name="submenuNombre" type="hidden" value="Venta">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>