<script src="/java/login.js"></script>
<form id="login" class="inicio form-signin text-center pb-0" action="/inicio/login" method="POST">
    <h3 class="mb-3 font-weight-normal">Iniciar Sesión</h3>
    <div class="input-group mb-1">
        <div class="input-group-prepend">
            <span class="input-group-text alturaIcono regis"><i class="fas fa-at fa-2x"></i></span>
        </div>
        <input type="email" autocomplete="off" maxlength="50" name="txtCorreo" class="form-control" placeholder="CORREO">
    </div>
    <div class="input-group mb-1">
        <div class="input-group-prepend">
            <span class="input-group-text alturaIcono regis"><i class="fas fa-key fa-2x"></i></span>
        </div>
        <input type="password" autocomplete="off" maxlength="50" name="txtContrasena" class="form-control" placeholder="CONTRASEÑA">
    </div>

    <button class="submit btn btn-lg btn-primary btn-block">Iniciar Sesión <i class="fas fa-hand-point-up"></i></button>

</form>
<br><br>
<div class="form-signin text-center pb-0 pt-0">
    <button class="registrate btn btn-lg btn-info btn-block">Regístrate <i class="fas fa-hand-point-right"></i></button>  
</div>
<div class="form-signin text-center pb-0 pt-1">
    <button class="olvidaste btn btn-lg btn-danger btn-block"><i class="fas fa-hand-point-left"></i> Olvidaste tu contraseña</button>  
</div>
