<script src="/java/olvidaPassword.js"></script>
<form id="password" class="inicio form-signin text-center pb-0">
    <h3 class="mb-3 font-weight-normal">Recuperar contraseña</h3>
    <div class="input-group mb-1">
        <div class="input-group-prepend">
            <span class="input-group-text alturaIcono regis"><i class="fas fa-at fa-2x"></i></span>
        </div>
        <input type="text" autocomplete="off" maxlength="50" name="txtCorreo" class="form-control" placeholder="CORREO">
    </div>
    <div class="form-signin text-center pb-0 pt-2">
        <button class="submit btn btn-lg btn-danger btn-block">Olvidaste tu contraseña  <i class="fas fa-hand-point-up"></i></button>
    </div>
</form>
<hr>
<div class="form-signin text-center pb-0 pt-0">
    <button class="sesion btn btn-lg btn-primary btn-block">Iniciar Sesión <i class="fas fa-hand-point-right"></i></button>
</div>
