<script src="/java/register.js"></script>
<form id="register" class="inicio form-signin text-center pb-0">
    <h3 class="mb-3 font-weight-normal">Regístrate</h3>
    <div class="input-group mb-1">
        <div class="input-group-prepend">
            <span class="input-group-text alturaIcono regis"><i class="fas fa-at fa-2x"></i></span>
        </div>
        <input type="text" autocomplete="off" maxlength="50" name="txtCorreo" class="form-control" placeholder="CORREO">
    </div>
    <div class="input-group mb-1">
        <div class="input-group-prepend">
            <span class="input-group-text alturaIcono regis"><i class="fas fa-align-center fa-2x"></i></span>
        </div>
        <input type="text" autocomplete="off" maxlength="50" name="txtPaterno" class="form-control" placeholder="APELLIDO PATERNO">
    </div>
    <div class="input-group mb-1">
        <div class="input-group-prepend">
            <span class="input-group-text alturaIcono regis"><i class="fas fa-align-center fa-2x"></i></span>
        </div>
        <input type="text" autocomplete="off" maxlength="50" name="txtNombre" class="form-control" placeholder="NOMBRE">
    </div>
    <div class="form-signin text-center pb-0 pt-2">
        <button class="submit btn btn-lg btn-success btn-block">Registrate <i class="fas fa-hand-point-up"></i></button>  
    </div>
</form>

<hr>
<div class="form-signin text-center pb-0 pt-0">
    <button class="sesion btn btn-lg btn-primary btn-block"><i class="fas fa-hand-point-left"></i> Iniciar Sesión</i></button>
</div>